:root {
  --primary-color: #2c4ab6;
  --footer-color: #44558b;
  --purple-btn: #785987;
  --bg-color: #2c4177;
  --pink-circle: #785987;
  --blue-circle: #2c4ab6;

  --primary-font: "Rajdhani", sans-serif;
  --links-font: "Titillium Web", sans-serif;

  --primary-font-color: #fefefe;
  --primary-link-color: #eeeded;
  --btn-text-color: #f9f9f9;

  --circle-blur: blur(25px);
  --circle-opacity: 40%;
}

* {
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  position: relative;
  overflow-x: hidden;
  background-image: url(./img/lines.svg), url(./img/lines-2.svg),
    url(./img/lines-3.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position-y: -10%, 20%, 115%;
  background-position-x: 0%, 20%, 20%;
  background-size: auto, 120%, 110%;
}

img {
  max-width: 100%;
}

section {
  scroll-snap-align: start;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--primary-link-color);
  font-family: var(--links-font);
}

a:hover {
  opacity: 0.75;
}

.main {
  padding-top: 1rem;
  padding-bottom: 1.5rem;

  margin-inline: 5em;
}

.maxw {
  max-width: 90%;
}

.relative {
  position: relative;
}

.circle {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  filter: var(--circle-blur);
  opacity: var(--circle-opacity);
}

.circle1 {
  width: 40vw;
  height: 40vw;
  border-radius: 40vw;
  background-color: var(--blue-circle);
}

.circle2 {
  width: 30vw;
  height: 30vw;
  border-radius: 30vw;
  background-color: var(--pink-circle);
  left: 30vw;
  top: 8vw;
}

.circle3 {
  width: 40vw;
  height: 40vw;
  border-radius: 40vw;
  background-color: var(--pink-circle);
  right: 10vw;
}

.circle4 {
  width: 50vw;
  height: 50vw;
  border-radius: 50vw;
  background-color: var(--blue-circle);
  bottom: 13.5vw;
  left: 10vw;
}

.circle5 {
  background-color: var(--pink-circle);
  height: 35vw;
  width: 35vw;
  border-radius: 35vw;
  opacity: 35%;
  left: -5vw;
}

.circle6 {
  height: 40vw;
  width: 50vw;
  border-radius: 45vw;
  left: 40vw;
  overflow-x: hidden;
  opacity: 0.55;
  background-color: var(--blue-circle);
}
/* sidenav Styles */
.sidenav {
  --nav-gap: 30px;
  padding: var(--nav-gap);
  position: fixed;
  right: 5%;
  top: 60%;
  transform: translateY(-50%);
}

.sidenav-item {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: var(--nav-gap);
}

.sidenav-label {
  color: black;
  font-weight: bold;

  font-size: clamp(1px, 3.125vw, 48px);
  opacity: 0;
  transition: opacity 0.1s;
  padding-right: 1.5rem;
}

.sidenav-link:hover ~ .sidenav-label {
  opacity: 1;
}

.sidenav-link {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  transition: transform(transform 0.1s);
}

.sidenav-link-selected {
  background: black;
  transform: scale(1.4);
}

/* Top Nav Styles */
.topnav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.topnav img {
  width: 10%;
  min-width: 90px;
}

.topnav__links-container {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.topnav a {
  font-size: 18px;
  padding: 2rem;
}

.hamburger {
  display: inline-block;
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px auto;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Features Section CSS */
#features {
  display: flex;
  flex-direction: column;
}

#features h1 {
  margin: 0;
  padding-top: 5rem;
  font-size: clamp(50px, 7.8125vw, 120px);
  font-weight: 600;
  opacity: 0.8;
  font-family: "Rajdhani";
}

#features p {
  font-size: clamp(30px, 2.6042vw, 40px);
  opacity: 0.8;
}

/* Demo Section styles */
.demo {
  display: flex;
  justify-content: space-between;
  padding-right: 15.625vw;
  padding-top: 3rem;
}

/* .demo-col1,
.demo-col2 {
  margin-top: 3rem;
} */

.demo-col1 {
  max-width: 40%;
}

.demo-col1 h2 {
  font-size: clamp(1px, 4.1667vw, 64px);
  margin-top: 0;
}

.demo-col1 img {
  width: 100%;
}

.demo-col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.demo-col2::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: whitesmoke;
  top: 0;
  bottom: 0;
  left: -15%;
}

.demo-col2 p {
  font-size: clamp(24px, 2.0833vw, 64px);
}

.demo-col2 p::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  z-index: 5;
  left: -17.5%;
}

/* timeline */

ul,
li {
  list-style: none;
  padding: 0;
}

.app-features {
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}

li {
  padding-bottom: 6rem;
  border-left: 4px solid #d9dde8;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}

li:last-child {
  border: 0px;
  padding-bottom: 0;
  left: 3px;
}

li:before {
  content: "";
  width: 20px;
  height: 20px;
  background: #6879a6;
  border: 5px solid #d9dde8;
  /* box-shadow: 3px 3px 0px #bab5f8;
  box-shadow: 3px 3px 0px #bab5f8; */
  border-radius: 50%;
  position: absolute;
  left: -16px;
  top: 0px;
}

.feature {
  font-size: clamp(24px, 2.0833vw, 64px);
}

/* Pricing Section Styles */

#pricing h2 {
  font-size: clamp(28px, 2.6042vw, 10rem);
  opacity: 0.75;
}

.price {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.pricing-container {
  display: flex;
  justify-content: space-around;
  padding-right: 11.4583vw;
}

.pricing-container div {
  border: 1px solid blue;
  padding: 4em 8em;
  border-radius: 20px;
  background-color: rgba(79, 101, 172, 0.8);
  border: solid 2px #4f65ac;
}

.price h2 {
  font-size: clamp(32px, 3.125vw, 10rem);
  font-weight: 700;
}

.price h2 span {
  font-size: clamp(12px, 1.0417vw, 10rem);
  vertical-align: text-top;
  font-weight: 700;
}

.price p {
  font-size: clamp(16px, 1.5625vw, 10rem);
  font-weight: 400;
}

.price button {
  border-radius: 14px;
  /* padding: 10px 20px; */
  padding: 0.625em 1.25em;
  border: none;
  background-color: var(--purple-btn);
  color: white;
  font-size: clamp(16px, 1.3021vw, 10rem);
}

.price button:hover {
  opacity: 0.75;
}

/* About Section Styles */
#team {
  padding-bottom: 0;
}
.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.team-container {
  display: flex;
  justify-content: space-around;
}

.team-header {
  max-width: 40%;
  font-size: clamp(32px, 3.125vw, 10rem);
  margin-inline: auto;
}

.team-summary {
  max-width: 40%;
  font-size: clamp(16px, 1.3021vw, 10rem);
  line-height: 1.5;
}

.team-container img {
  width: 20%;
  min-width: 180px;
  height: auto;
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--footer-color);
  color: var(--primary-link-color);
  padding-bottom: 1.5rem;
  margin-inline: 0;
}

footer img {
  width: 6em;
  padding-top: 1em;
}

.copyright {
  font-size: clamp(12px, 1.0417vw, 10rem);
}

.footer-links {
  display: flex;
  justify-content: space-around;
  font-size: clamp(12px, 1.0417vw, 10rem);
  /* width: 15%; */
}

.footer-links a:nth-child(1) {
  padding-right: 1em;
}

/* .bg{
  width: 100vw;
  height: 100vh;
  background: rgba(44, 74, 182, 0.42);
  background: rgba(120, 89, 135, 0.31);
} */

/* Other background properties (maybe) 
  z-index: -1;
  blur:(55.5px)
  position: relative
  Note: may also need to assign position relative to each section if using z-index 
*/

/* 
Button CSS if used again
.topnav button {
  border-radius: 10px;
  padding: 0.75em;
  border-style: none;
  background-color: #785987;
  color: var(--btn-text-color);
  font-size: 18px;
  opacity: 0.5;
}

.topnav button:hover {
  opacity: 0.75;
} */
@media (max-width: 1100px) {
  .pricing-container {
    row-gap: 1rem;
    align-items: center;
  }
  .pricing-container div {
    padding: 3em 6em;
    max-width: 60%;
  }

  .team-container {
    justify-content: center;
    gap: 2.5em;
  }
}
@media (max-width: 900px) {
  .demo {
    /* padding-right: 70px; */
    flex-direction: column;
  }
  .demo-col1 {
    display: flex;
    /* flex-direction: row; */
  }

  .team-container img {
    align-self: flex-start;
  }

  /* .demo-col2 {
    flex-direction: row;
  } */
  .pricing-container {
    flex-direction: column;
    justify-content: space-around;
  }

  .price {
    text-align: center;
  }

  .price h2 {
    text-align: center;
  }

  .team-header,
  .team-summary {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .topnav__links {
    display: none;
  }
  .topnav__links.active {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 120px;
  }

  .circle1 {
    height: 50vw;
    width: 50vw;
    border-radius: 50vw;
  }
  .circle2 {
    width: 40vw;
    height: 40vw;
    border-radius: 40vw;
  }

  .pricing-container div {
    padding: 1.5em 4em;
  }

  .footer-links {
    flex-direction: column;
    padding-top: 0.5em;
    line-height: 2;
  }

  .team-header {
    max-width: 80%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  #features h1 {
    font-size: clamp(60px, 7.8125vw, 100px);
  }

  #pricing h2 {
    font-size: 24px;
  }

  .sidenav {
    display: none;
  }

  .circle2 {
    width: 50vw;
    height: 50vw;
    border-radius: 50vw;
  }

  .team img {
    display: none;
  }

  .team-summary {
    max-width: 60vw;
  }
}

@media (max-width: 500px) {
  .pricing-container div {
    padding: 1rem 2rem;
    max-width: 80%;
  }

  .team-header {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .team-summary {
    font-size: 14px;
  }
}
