:root {
  --light-purple: #785987;
  --light-blue: #44558b;
  --bg-color: #2c4177;
  --blue-circle: #2c4ab6;

  --primary-font: "Rajdhani", sans-serif;
  --links-font: "Titillium Web", sans-serif;

  --primary-font-color: #fefefe;
  --primary-link-color: #eeeded;
  --btn-text-color: #f9f9f9;

  --circle-blur: blur(25px);
  --circle-opacity: 40%;

  --xxl-text: clamp(40px, 7.8125vw, 7.5rem);
  --xl-text: clamp(32px, 4.1667vw, 4rem);
  --large-text: clamp(32px, 3.125vw, 3.5rem);
  --medium-text: clamp(24px, 2.6042vw, 2.5rem);
  --small-text: clamp(16px, 1.5625vw, 1.75rem);
  --xs-text: clamp(16px, 1.3021vw, 1.4rem);
  --xxs-font: clamp(12px, 1.0417vw, 1.1rem);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-font-color);
  font-family: var(--primary-font);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

.body-index {
  background-image: url(./img/lines.svg), url(./img/lines-2.svg),
    url(./img/lines-3.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position-y: -10%, 20%, 115%;
  background-position-x: 0%, 20%, 20%;
  background-size: auto, 120%, 110%;
}

.body-contact {
  background-image: url(./img/lines.svg);
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-size: auto;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
}

a {
  color: var(--primary-link-color);
  font-family: var(--links-font);
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
}

.main {
  margin-inline: 5em;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.maxw {
  max-width: 90%;
}

.relative {
  position: relative;
}

.circle {
  filter: var(--circle-blur);
  opacity: var(--circle-opacity);
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.circle1 {
  background-color: var(--blue-circle);
  border-radius: 40vw;
  height: 40vw;
  width: 40vw;
}

.circle2 {
  background-color: var(--light-purple);
  border-radius: 30vw;
  height: 30vw;
  left: 30vw;
  top: 8vw;
  width: 30vw;
}

.circle3 {
  background-color: var(--light-purple);
  border-radius: 40vw;
  height: 40vw;
  right: 10vw;
  width: 40vw;
}

.circle4 {
  background-color: var(--blue-circle);
  border-radius: 50vw;
  bottom: 13.5vw;
  height: 50vw;
  left: 10vw;
  width: 50vw;
}

.circle5 {
  background-color: var(--light-purple);
  border-radius: 35vw;
  height: 35vw;
  left: -5vw;
  opacity: 35%;
  width: 35vw;
}

.circle6 {
  background-color: var(--blue-circle);
  border-radius: 45vw;
  height: 40vw;
  left: 40vw;
  opacity: 0.55;
  overflow-x: hidden;
  width: 50vw;
}
/* sidenav Styles */
.sidenav {
  --nav-gap: 30px;
  padding: var(--nav-gap);
  position: fixed;
  right: 5%;
  top: 60%;
  transform: translateY(-50%);
}

.sidenav-item {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: var(--nav-gap);
}

.sidenav-label {
  color: var(--btn-text-color);
  font-size: clamp(1px, 3.125vw, 48px);
  font-weight: bold;
  margin-right: 1.5rem;
  opacity: 0;
  transition: opacity 0.1s;
}

@keyframes moveLeft {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 1.5rem;
  }
}

.sidenav-link:hover ~ .sidenav-label {
  animation-duration: 800ms;
  animation-name: moveLeft;
  background: var(--light-blue);
  border-radius: 5px;
  opacity: 1;
  padding: 0 10px;
}

.sidenav-link {
  background: rgba(68, 85, 139, 0.8);
  border-radius: 50%;
  height: 25px;
  transition: transform(transform 0.1s);
  width: 25px;
}

.sidenav-link-selected {
  background: #8aa4cc;
  transform: scale(1.2);
}

/* Top Nav Styles */
.topnav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.topnav img {
  min-width: 90px;
  width: 10%;
}

.topnav__links-container {
  align-items: end;
  display: flex;
  justify-content: space-around;
}

.topnav a {
  font-size: 18px;
  padding: 1rem 2rem;
}

.topnav a:hover {
  background: var(--light-blue);
  border-radius: 5px;
  transition: all 500ms;
}

.hamburger {
  display: none;
}

.bar {
  background-color: var(--primary-link-color);
  display: block;
  height: 3px;
  margin: 5px auto;
  transition: all 500ms;
  width: 25px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  transition: all 500ms;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  transition: all 500ms;
}

/* Features Section CSS */
.features {
  display: flex;
  flex-direction: column;
}

.features h1 {
  font-size: var(--xxl-text);
  font-weight: 600;
  margin: 0;
  opacity: 0.8;
  padding-top: 5rem;
}

.features p {
  font-size: var(--medium-text);
  opacity: 0.8;
}

/* Demo Section styles */
.demo {
  display: flex;
  justify-content: space-between;
  padding-right: 15.625vw;
  padding-top: 3rem;
}

.demo-col1 {
  max-width: 40%;
}

.demo-col1 h2 {
  font-size: var(--xl-text);
  margin-top: 0;
}

.demo-col1 img {
  min-width: 270px;
}

/* timeline */

ul,
li {
  list-style: none;
  padding: 0;
}

.app-features {
  border-radius: 12px;
  margin-top: 2rem;
  position: relative;
}

li {
  border-left: 4px solid #d9dde8;
  margin-left: 10px;
  padding-bottom: 6rem;
  padding-left: 20px;
  position: relative;
}

li:last-child {
  border: 0px;
  padding-bottom: 0;
  left: 3px;
}

li:before {
  background: #6879a6;
  border-radius: 50%;
  border: 5px solid #d9dde8;
  content: "";
  height: 20px;
  left: -16px;
  position: absolute;
  top: 0px;
  width: 20px;
}

.feature {
  font-size: clamp(16px, 2.0833vw, 64px);
}

/* Pricing Section Styles */
.pricing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pricing-section h2 {
  font-size: var(--medium-text);
  opacity: 0.75;
}

.price {
  text-align: center;
}

.pricing-container {
  display: flex;
  justify-content: space-around;
  padding-right: 11.4583vw;
}

.pricing-container div {
  background-color: rgba(79, 101, 172, 0.8);
  border-radius: 20px;
  border: 1px solid blue;
  border: solid 2px #4f65ac;
  padding: 4em 8em;
}

.price h2 {
  font-size: var(--large-text);
  font-weight: 700;
}

.price h2 span {
  font-size: var(--xxs-font);
  font-weight: 700;
  vertical-align: text-top;
}

.price p {
  font-size: var(--small-text);
  font-weight: 400;
}

.price button {
  background-color: var(--light-purple);
  border-radius: 14px;
  border: none;
  color: white;
  font-size: var(--xs-text);
  padding: 0.625em 1.25em;
}

.price button:hover {
  opacity: 0.75;
}

/* About Section Styles */

.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;
}

.team-container {
  display: flex;
  gap: 2rem;
  padding-right: 11.4583vw;
}

.team-header {
  font-size: var(--large-text);
  margin-inline: auto;
  max-width: 40%;
}

.team-summary {
  flex: 2;
  font-size: var(--small-text);
  line-height: 1.5;
}

.team-container img {
  flex: 1/2;
  height: auto;
  min-width: 180px;
  width: 20%;
}

/* Footer Styles */
footer {
  background-color: var(--footer-color);
  color: var(--primary-link-color);
}

.footer-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

footer img {
  padding-top: 1em;
  width: 6em;
}

.copyright {
  font-size: var(--xxs-font);
}

.footer-links {
  display: flex;
  font-size: var(--xxs-font);
  justify-content: space-around;
}

.footer-links a:nth-child(1) {
  padding-right: 1em;
}

/************* CONTACT FORM ***************/

.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 0;
  padding-bottom: 2rem;
  width: 100%;
}

.contact h1 {
  padding-top: 2rem;
}

.contact__title {
  font-size: 3rem;
  text-align: center;
}

.contact__form {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 4fr;
  width: 60%;
}

label {
  font-size: 32px;
  justify-self: end;
}

.form__submit {
  background-color: var(--purple-btn);
  border-radius: 14px;
  border: none;
  color: white;
  font-family: var(--links-font);
  font-size: var(--xs-text);
  grid-column: 2/3;
  justify-self: end;
  min-width: fit-content;
  padding: 0.625em 1.25em;
  width: 33%;
}

.form__submit:hover {
  opacity: 0.75;
}

.form__input,
textarea {
  background-color: var(--footer-color);
  border: none;
  color: var(--primary-font-color);
  font-family: var(--links-font);
  font-size: 16px;
  padding: 12px 20px;
}
::placeholder {
  color: #e8e8e8;
  font-family: var(--links-font);
}

input {
  border-radius: 4px;
  padding: 12px;
}

.contact-footer {
  width: 100vw;
}
/********* end contact form ***********/

@media (max-width: 1100px) {
  .pricing-container {
    align-items: center;
    padding-right: 0;
    row-gap: 1rem;
  }
  .pricing-container div {
    max-width: 60%;
    padding: 3em 6em;
  }

  .team-container {
    gap: 2.5em;
  }

  .demo {
    padding-right: 10.4167vw;
  }

  .body-index {
    background-position-y: -20%, 20%, 95%;
    background-position-x: 0%, 20%, 20%;
    background-size: auto, 120%, auto;
  }
}
@media (max-width: 900px) {
  .demo {
    padding-right: 5vw;
  }

  .team-container img {
    align-self: flex-start;
  }

  .pricing-container {
    flex-direction: column;
    justify-content: space-around;
  }

  .price {
    text-align: center;
  }

  .price h2 {
    text-align: center;
  }

  .team-header,
  .team-summary {
    max-width: 60%;
  }

  .body-index {
    background-position-y: -30%, 20%, 85%;
    background-position-x: 0%, 20%, 20%;
    background-size: auto, auto, auto;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .topnav__links {
    display: none;
  }
  .topnav__links.active {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
  }

  .circle1 {
    border-radius: 50vw;
    height: 50vw;
    width: 50vw;
  }

  .circle2 {
    border-radius: 40vw;
    height: 40vw;
    width: 40vw;
  }

  .pricing-container div {
    padding: 1.5em 4em;
  }

  .footer-links {
    flex-direction: column;
    line-height: 2;
    padding-top: 0.5em;
  }

  .team-header {
    max-width: 80%;
    text-align: center;
  }

  .demo {
    margin-right: 2.5vw;
    margin-left: 2em;
  }

  .team-container {
    padding-right: 0;
  }
  .team img {
    display: none;
  }

  .team-summary {
    max-width: 100vw;
  }
}

@media (max-width: 600px) {
  .pricing-section h2 {
    font-size: 24px;
  }

  .sidenav {
    display: none;
  }

  .circle2 {
    border-radius: 50vw;
    height: 50vw;
    width: 50vw;
  }

  .demo {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .demo-col1 {
    max-width: 80%;
  }

  .demo-col1 h1 {
    font-size: 2rem;
  }

  li {
    padding-bottom: 3rem;
  }

  .pricing-container div {
    max-width: 100%;
  }

  /********* CONTACT FORM ***********/
  .contact__form {
    display: flex;
    flex-direction: column;
  }

  .form__submit {
    align-self: center;
  }

  .contact {
    margin-top: 1em;
  }

  .contact__title {
    font-size: clamp(20px, 2.6043vw, 2.5rem);
  }

  label,
  .form__input,
  textarea {
    font-size: clamp(12px, 1.3021vw, 1.25rem);
  }
  /*********** end contact form ***************/
}

@media (max-width: 500px) {
  .team-header {
    font-size: 24px;
  }

  .team-summary {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .pricing-container div {
    max-width: 100%;
    padding: 1.5em 2em;
  }
}
