:root {
  --primary-color: #2c4ab6;
  --footer-color: #44558b;
  --purple-btn: #785987;
  --bg-color: #2c4177;
  --pink-circle: #785987;
  --blue-circle: #2c4ab6;

  --primary-font: "Rajdhani", sans-serif;
  --links-font: "Titillium Web", sans-serif;

  --primary-font-color: #fefefe;
  --primary-link-color: #eeeded;
  --btn-text-color: #f9f9f9;

  --circle-blur: blur(25px);
  --circle-opacity: 40%;
}

* {
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  position: relative;
}

img {
  max-width: 100%;
}

section {
  scroll-snap-align: start;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--primary-link-color);
  font-family: var(--links-font);
}

a:hover {
  opacity: 0.75;
}

.main {
  padding-top: 1rem;
  padding-bottom: 1.5rem;

  margin-inline: 5rem;
}

.maxw {
  max-width: 90%;
}

.relative {
  position: relative;
}

.circle2 {
  width: 30vw;
  height: 30vw;
  border-radius: 30vw;
  background-color: var(--pink-circle);
  position: absolute;
  filter: var(--circle-blur);
  overflow: hidden;
  z-index: -1;
  left: 30vw;
  top: 8vw;
  opacity: var(--circle-opacity);
}

.circle1 {
  width: 40vw;
  height: 40vw;
  border-radius: 40vw;
  background-color: var(--blue-circle);
  position: absolute;
  filter: var(--circle-blur);
  overflow: hidden;
  z-index: -1;
  opacity: var(--circle-opacity);
}

.circle3 {
  width: 40vw;
  height: 40vw;
  border-radius: 40vw;
  background-color: var(--pink-circle);
  position: absolute;
  overflow: hidden;
  z-index: -1;
  opacity: var(--circle-opacity);
  filter: var(--circle-blur);
  right: 10vw;
  top: 10vw;
}

/* sidenav Styles */
.sidenav {
  --nav-gap: 30px;
  padding: var(--nav-gap);
  position: fixed;
  right: 5%;
  top: 60%;
  transform: translateY(-50%);
}

.sidenav-item {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: var(--nav-gap);
}

.sidenav-label {
  color: black;
  font-weight: bold;

  font-size: clamp(1px, 3.125vw, 48px);
  opacity: 0;
  transition: opacity 0.1s;
  padding-right: 1.5rem;
}

.sidenav-link:hover ~ .sidenav-label {
  opacity: 1;
}

.sidenav-link {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  transition: transform(transform 0.1s);
}

.sidenav-link-selected {
  background: black;
  transform: scale(1.4);
}

/* Top Nav Styles */
.topnav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.topnav img {
  width: 10%;
  min-width: 90px;
}

.topnav__links-container {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.topnav a {
  font-size: 18px;
  padding: 2rem;
}

.hamburger {
  display: inline-block;
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px auto;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Features Section CSS */
#features {
  display: flex;
  flex-direction: column;
}

#features h1 {
  margin: 0;
  padding-top: 5rem;
  font-size: clamp(50px, 7.8125vw, 120px);
  font-weight: 600;
  opacity: 0.8;
  font-family: "Rajdhani";
}

#features p {
  font-size: clamp(30px, 2.6042vw, 40px);
  opacity: 0.8;
}

/* Demo Section styles */
.demo {
  display: flex;
  justify-content: space-between;
  padding-right: 15.625vw;
  padding-top: 3rem;
  position: relative;
}

/* .demo-col1,
.demo-col2 {
  margin-top: 3rem;
} */

.demo-col1 {
  max-width: 40%;
}

.demo-col1 h2 {
  font-size: clamp(1px, 4.1667vw, 64px);
  margin-top: 0;
}

.demo-col1 img {
  width: 100%;
}

.demo-col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.demo-col2::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: whitesmoke;
  top: 0;
  bottom: 0;
  left: -15%;
}

.demo-col2 p {
  font-size: clamp(24px, 2.0833vw, 64px);
}

.demo-col2 p::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  z-index: 5;
  left: -17.5%;
}

/* Pricing Section Styles */
.pricing-container {
  display: flex;
  justify-content: space-around;
  padding-right: 11rem;
}

#pricing h2 {
  font-size: clamp(1px, 3.125vw, 3rem);
}

.pricing-container div {
  border: 1px solid blue;
  padding: 4em 8em;
  border-radius: 20px;
  background-color: rgba(79, 101, 172, 0.8);
  border: solid 2px #4f65ac;
}

.price h2 {
  font-size: 3rem;
  font-weight: 700;
}

.price h2 span {
  font-size: 1rem;
  vertical-align: text-top;
  font-weight: 700;
}

.price p {
  font-size: clamp(1px, 1.5625vw, 10rem);
  font-weight: 400;
}

.price button {
  border-radius: 14px;
  padding: 0.625em 1.25em;
  border: none;
  background-color: var(--purple-btn);
  color: white;
  font-size: 1.25rem;
}

.price button:hover {
  opacity: 0.75;
}

/* About Section Styles */
#team {
  padding-bottom: 0;
}
.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.team-container {
  display: flex;
  justify-content: space-around;
}

.team-header {
  max-width: 40%;
  font-size: 3rem;
  margin-inline: auto;
}

.team-summary {
  max-width: 40%;
  font-size: 1.25rem;
  line-height: 1.5;
}

.team-container img {
  width: 20%;
  height: auto;
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--footer-color);
  color: var(--primary-link-color);
  padding-bottom: 1.5rem;
  margin-inline: 0;
}

footer img {
  width: 6em;
  padding-top: 1em;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 15%;
}

/* .bg{
  width: 100vw;
  height: 100vh;
  background: rgba(44, 74, 182, 0.42);
  background: rgba(120, 89, 135, 0.31);
} */

/* Other background properties (maybe) 
  z-index: -1;
  blur:(55.5px)
  position: relative
  Note: may also need to assign position relative to each section if using z-index 
*/

/* 
Button CSS if used again
.topnav button {
  border-radius: 10px;
  padding: 0.75em;
  border-style: none;
  background-color: #785987;
  color: var(--btn-text-color);
  font-size: 18px;
  opacity: 0.5;
}

.topnav button:hover {
  opacity: 0.75;
} */

@media (max-width: 900px) {
  .demo {
    /* padding-right: 70px; */
    flex-direction: column;
  }
  .demo-col1 {
    display: flex;
    flex-direction: row;
    min-width: 40vw;
    max-width: 100%;
  }

  .demo-col1 h2 {
    font-size: 40px;
  }

  .demo-col1 img {
    width: 70%;
  }

  .circle3 {
    right: auto;
    top: 30vh;
  }

  .demo-col2::after {
    left: -5%;
  }

  .demo-col2 p::before {
    left: -6.5%;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .topnav__links {
    display: none;
  }
  .topnav__links.active {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 120px;
  }

  .circle1 {
    height: 50vw;
    width: 50vw;
    border-radius: 50vw;
  }
  .circle2 {
    width: 40vw;
    height: 40vw;
    border-radius: 40vw;
  }
}

@media (max-width: 600px) {
  #features h1 {
    font-size: clamp(60px, 7.8125vw, 100px);
  }

  .sidenav {
    display: none;
  }

  .circle2 {
    width: 50vw;
    height: 50vw;
    border-radius: 50vw;
  }
}
